<ion-header>
  <ion-toolbar>
    <ion-title>Liste des étudiants</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="addItem">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ul>
    <li *ngFor="let etd of etudiants">
      {{ etd.name }} - {{ etd.result }}/20
    </li>
  </ul> -->

  <table>
    <thead>
      <tr>
        <td>Étudiant</td>
        <td>Note</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let etd of etudiants" routerLink="modifyItem/{{etd.id}}">
        <td>{{ etd.name }} </td>
        <td>{{ etd.result }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
